[submodule "lib/StackExchange.Redis"]
	path = lib/StackExchange.Redis
	url = git@github.com:brendanmckenzie/StackExchange.Redis.git
[submodule "lib/npgsql"]
	path = lib/npgsql
	url = git@github.com:brendanmckenzie/npgsql.git
[submodule "lib/StackExchange.Redis2"]
	path = lib/StackExchange.Redis2
	url = https://github.com/jeremymeng/StackExchange.Redis.git
